html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(129, 129, 129);
}

a:hover {
    color: rgb(32, 32, 32)
}

input {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#search-field {
    border: none;
    width: 30vw;
}

#search-field:focus {
    outline: none;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 4vh 10vw 4vh 10vw;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-button, .del-button, .upd-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-link, .nav-button, .upd-button {
    color: darkgray;
}

.del-button {
    color: lightcoral;
}

.del-button:hover {
    color: red;
}

.nav-link:hover, .nav-button:hover, .upd-button:hover {
    color: grey;
}

.card-sm {
    flex: 1;
    display: flex;
    flex-flow: column;
    width: 30vw;
    padding: 4vmin 4vmin 2vmin 4vmin;
    margin: 2vmin 0 2vmin 0;
    border-radius: 2.5px;
    transition: box-shadow .3s;
    box-shadow: 0 0 10px rgba(33, 33, 33, .2);
}

.card-sm:hover {
    box-shadow: 0 0 25px rgba(33, 33, 33, .2);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.card-sm-name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.card-info {
    flex: 1;
    font-size: smaller;
    color: darkgray;
}